

.container {
    margin: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   }
   
   .container.title{
     margin-bottom: 200px;
   }
   
   .label{
     font-size: 1.5rem;
     display: block;
     margin-bottom: 10px;
   }
   
   .input {
     font-size: 1rem;
     padding: 1.2rem 4rem;
     width: 250px !important;
     border-radius: 15px;
     border: 1px solid #e1e1e1;
     margin-bottom: 10px;
     margin-right: 5px;
     outline: none;
   }
   
   .button {
     font-size: 1.8rem;
     padding: 1.2rem 2rem;
     border-radius: 20px;
     border: 1px solid #e1e1e1;
     background-color: rgba(0,0,0,0.85);
     color: #fff;
     outline: none;
     cursor: pointer;
   }
   
   h1{
     font-size: 4rem;
     margin-bottom: 3rem;
   }
   
   .display{
   margin-top: 20px
   }
   
   .display p {
     font-size: 1.8rem;
     margin-bottom: 1rem;
     text-align: center
   }
   
   .flag {
     width: 150px;
     margin-bottom: 15px;
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   }
   
   h3{
     margin-top: 1.8rem;
     color: red;
     font-size: 2rem;
   }
   
   .container strong {
     margin-top: 25px;
     font-size: 1.7rem;
   }