.gallery-App {
    flex-direction: column;
    margin-top: 30px;
  }
  .gallery-image {
    width: 363px;
    border-radius: 5px;
    height: 240px;
  }
  .gallery-container {
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
    border: 1px solid #eee;
    background: #f9fafc;
  }
  .gallery-head {
    font-weight: 400;
    width: 363px;
    border-radius: 5px;
    height: 240px;
  }
  .gallery-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-main {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .gallery-input {
    padding: 20px !important;
    box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
    border: 1px solid #ddd;
    background: #f9fafc;
    width: 60% !important;
    margin: 25px 0 !important;
  }